.example-spacer {
    flex: 1 1 auto;
  }

footer {
    background-color: rgb(236, 233, 236);
    width: 100%;
    position: relative;
    bottom: 0;
  }

.copyrighttext{
    flex: 1 1 auto;
}

.fill-footer{
  margin-top: 10%;
}