<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>SKILL TRACKER APPLICATION</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
  <div *ngIf="isLoggedIn">{{userName}}</div>
  <button *ngIf="isLoggedIn" mat-flat-button class="example-icon" aria-label="with" (click)="logout()">
    Logout
  </button>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="fill-footer"></div>
<footer>
  <mat-toolbar>
    <span class="copyrighttext"></span>
    <h5>@ SKILL TRACKER APPLICATION</h5>
  </mat-toolbar>
</footer>
