.skill-login-card {
    max-width: 500px;
    min-width: 400px;
}

.skill-login{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-login-field {
    width: 100%;
}